/* Base Color : HEX #2578c4 rgb(37, 120, 196) / Secondary Color : HEX #8bc6e4 rgb(139, 198, 228) */
.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

.App .wrap {
  /* mobile-header-height 173.33px (fixed value), fixed-top */
  /* mobile-footer-height 65px (fixed value) fixed-bottom */
  margin-top: 173.33px;
  margin-bottom: 65px;
}

@media screen and (min-width: 768px) {
  .App .wrap {
    /* pc-header-height 120px (fixed value), fixed-top */
    /* pc-footer-height 80px (fixed value), fixed-bottom only when scroll exists */
    min-height: calc(100vh - 120px - 80px);
    margin-top: 120px; 
    margin-bottom: 0;
  }
}