/* 전체 container 너비를 1000px
dlalwl zmrlsms 300x200
박스 배경색 rgba 0 0 0 0.6 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1000px;
  text-align: center;
}

h1, h3{
  padding: 50px;
}

.img, .emptybox{
  width: 300px;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}

.emptybox{
  width: 50px;
}

.img-txt{
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
  opacity: 0;
  transition-property: transform;
  transition-duration: 2s;
}

.img:hover .img-txt{
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  transform: translateX(0%);
  opacity: 1;
}