.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}

.EmotionItem_off {
  background: #ececec;
}

.EmotionItem_on_1 {
  /* background: #64c964; */
  /* color: white; */
  background: rgb(177, 228, 177);
  color: rgb(62, 128, 68);
}

.EmotionItem_on_2 {
  /* background: #9dd772; */
  /* color: white; */
  background: rgb(206, 235, 184);
  color: rgb(62, 128, 68);
}

.EmotionItem_on_3 {
  /* background: #fdce17; */
  /* color: white; */
  background: rgb(254, 230, 139);
  color: rgb(191, 91, 87);
}

.EmotionItem_on_4 {
  /* background: #fd8446; */
  /* color: white; */
  background: rgb(254,193,162);
  color: rgb(182, 62, 60);
}

.EmotionItem_on_5 {
  /* background: #fd565f; */
  /* color: white; */
  background: rgb(254, 170, 175);
  color: rgb(177, 49, 48);
}